.main
{
  .main-section
  {
    .header
    {
    .bttn
    {
        background-color: transparent;
        border: 0ch;
        outline: 0;
        margin-bottom: 50px;
       .img
    {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 80px;
    }
  }
  @media all and (max-width: 1200px) , (max-width: 600px) , (max-width : 200px) {
    .bttn{
      margin-right: auto;
      margin-left: auto;
    }
}
    }
  }
}