
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
      .row
      {
        margin-left: auto;
        margin-right: auto;
        //padding-bottom: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        border-top: 1px solid #1B6BA2;
        border-bottom: 1px solid #1B6BA2;
        .btn
        {
          margin-right: 5px;
          height: 72px;
          width: 174px;
          background-color: transparent;
          outline: none;
          border: none;
          cursor: pointer;
          .link
          {
            color: #ffffff;
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            padding:10px;
            width: 100%;
          }
      }
      .btn:hover
          {
              background-color: #00a8ff;
              opacity: 40%;
          }
    }
    @media only screen and (max-width: 1130px) {
      .menu{
          width:800px;
      }
     }
  @media only screen and (max-width: 600px) {
   .menu{
       width:400px;
   }
  }
  .list-details{
    z-index: 30;
    margin-top: 40px;
    height: 650px;
  }
  }