<app-header></app-header>

<div class="main">

  <div class="list text-center">

    <button class="bttn films" [routerLink]="['/list/film',{type:'film',page:1}]" routerLinkActive="link-active">
      <div>
        <p class="link text-center">FILMS</p>
      </div>
    </button>

    <button class="bttn species" [routerLink]="['/list/species',{type:'specie',page:1}]" routerLinkActive="link-active">
      <div>
        <p class="link text-center">SPECIES</p>
      </div>
    </button> 

    <button class="bttn planets" [routerLink]="['/list/planets',{type:'planet',page:1}]" routerLinkActive="link-active">
      <div>
        <p class="link text-center">PLANETS</p>
      </div>
    </button> 

    <button class="bttn people" [routerLink]="['/list/people',{type:'people',page:1}]" routerLinkActive="link-active">
      <div>
        <p class="link text-center">CHARACTERS</p>
      </div>
    </button>   

    <button class="bttn starship" [routerLink]="['/list/starships',{type:'starship',page:1}]" routerLinkActive="link-active">
      <div>
        <p class="link text-center">STARSHIP</p>
      </div>
    </button> 

    <button class="bttn vehicle" [routerLink]="['/list/vehicles',{type:'vehicle',page:1}]" routerLinkActive="link-active">
      <div>
        <p class="link text-center">VEHICLES</p>
      </div>
    </button> 

  </div>

    <ngx-simplebar class="lists-details" [options]="options">

              <router-outlet></router-outlet>
              
    </ngx-simplebar>

</div>

<app-footer></app-footer>