<div class="container">

    <ng-container *ngFor="let list of dataList?.results">

        <div class="name">

           <ng-container *ngIf="urlPath === 'film';else name">

            <button class="loadPage" (click)="toDisplay(list)" [routerLink]="['/list/'+urlPath+'/view/']">{{list?.title}}</button>

           </ng-container>

           <ng-template #name>
            <button class="loadPage" (click)="toDisplay(list)" [routerLink]="['/list/'+urlPath+'/view/']">{{list?.name}}</button>
           </ng-template>

        </div>

        </ng-container>

     <div class="navigate">

        <ng-container *ngIf="dataList?.previous">

            <div class="back">
                <button class="previous loadDetails" [routerLink]="['/list/'+urlPath+'/page/', {type:type,page:btnPrv}]">PREVIOUS</button>
            </div>

        </ng-container>

        <ng-container *ngIf="dataList?.next">

           <div class="next">
            <button class="next loadDetails" [routerLink]="['/list/'+urlPath+'/page/',  {type:type,page:btnNxt}]">NEXT</button>
           </div>

        </ng-container>

     </div>

</div>