.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;

    .name {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;

        .loadPage {
            width: 340px;
            height: 44px;
            background-color: transparent;
            // color: white;
            border: none;
            outline: none;
            color: #ffffff;
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            margin-top: 20px;
            @media all and (max-width: 1000px) , (max-width: 800px) , (max-width: 600px)  {
                font-size: 16px;
            }
        }

        .loadDetails:hover {
            background-color: rgba($color: #00A8FF, $alpha: 0.4);
        }
    }

    .navigate {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
        margin-top: 40px;
        margin-bottom: 24px;
        columns: 1;
          column-gap: 30px;
      .back,.next{
          
        .loadDetails {
            width: 160px;
            height: 50px;
            color: #ffffff;
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
            background-color: rgba($color: #00A8FF, $alpha: 0.4);
            // opacity: 40%;
            border: none;
            outline: none;
            
        } 
      }      
    }
}