<div class="container" id="data">

    <div class="flex-head">

        <div class="details">

            <div class="profile-photo">
                <img src="../../../assets/images/starwars.jpg">
            </div>

            <ngx-simplebar class="right" [options]="options">
            <ng-container *ngIf="loadData?.name;else title">
                <div class="name">
                    {{loadData.name}}
                </div>
            </ng-container>

            <ng-template #title>

                <div class="name">
                    {{loadData.title}}
                </div>

            </ng-template>

            <ng-container *ngIf="loadData?.designation">

                <div class="designation"  >
                    <div class="title">Designation: </div>
                    <div class="info">
                        {{loadData.designation}}
                    </div>
                </div>

            </ng-container>

            <ng-container *ngIf="loadData?.gender">

            <div class="gender">
                <div class="title" >Gender: </div>
                <div class="info">
                    {{loadData.gender}}
                </div>
            </div>

            </ng-container>

            <ng-container *ngIf="loadData?.height">

            <div class="dimensions" >
                <div class="title">Height: </div>
                <div class="info">
                    {{loadData.height}}
                </div>
            </div>

            </ng-container>

            <ng-container *ngIf="speciesDetails.length > 0">

            <div class="species" >
                <div class="title">Species: </div>
                <div class="info">

                    <ng-container *ngFor="let species of speciesDetails">
                        {{species}}
                    </ng-container>

                </div>
            </div>

            </ng-container>

            <ng-container  *ngIf="loadData?.hair_color">

            <div class="hair">
                <div class="title">Hair Color: </div>
                <div class="info">
                    {{loadData.hair_color}}
                </div>
            </div>

            </ng-container>

            <ng-container *ngIf="loadData?.eye_color">

            <div class="eye" >
                <div class="title" *ngIf="">Eye color: </div>
                <div class="info">
                    {{loadData.eye_color}}
                </div>
            </div>

            </ng-container>

            <ng-container *ngIf="loadData?.skin_color">

            <div class="skin">
                <div class="title" >Skin color: </div>
                <div class="info">
                    {{loadData.skin_color}}
                </div>
            </div>

            </ng-container>

            <ng-container *ngIf="filmDetails.length > 0">

            <div class="films">
                <div class="title" >films: </div>
                <div class="info">

                    <ng-container *ngFor="let films of filmDetails">
                        {{films}}, 
                    </ng-container>

                </div>
            </div>

            </ng-container>

            <ng-container *ngIf="vehicleDetails.length > 0">

                <div class="vehicles" >
                    <div class="title">Vehicle: </div>
                    <div class="info">

                        <ng-container *ngFor="let vehicle of vehicleDetails">
                            {{vehicle}}, 
                        </ng-container>

                    </div>
                </div>

            </ng-container>

            <ng-container *ngIf="vehicleDetails.length > 0">

            <div class="starship" >
                <div class="title">Starship: </div>
                <div class="info">

                    <ng-container *ngFor="let starship of starshipDetails">
                        {{starship}}, 
                    </ng-container>

                </div>
            </div>

            </ng-container>

            <ng-container *ngIf="planetDetails.length > 0">

            <div class="planet" >
                <div class="title">Planet: </div>
                <div class="info">

                    <ng-container *ngFor="let planet of planetDetails">
                        {{planet}}
                    </ng-container>

                </div>
            </div>

            </ng-container>

            <ng-container *ngIf="peopleDetails.length > 0">

            <div class="people" >
                <div class="title">People: </div>
                <div class="info">

                    <ng-container *ngFor="let people of peopleDetails">
                        {{people}}, 
                    </ng-container>

                </div>
            </div>

            </ng-container>

            <ng-container  *ngIf="loadData?.model">

            <div class="any" >
                <div class="title">Model: </div>
                <div class="info">
                    {{loadData.model}}
                </div>
            </div>

            </ng-container>

            <ng-container *ngIf="loadData?.manufacturer">

            <div class="any"  >
                <div class="title">Manufacturer: </div>
                <div class="info">
                    {{loadData.manufacturer}}
                </div>
            </div>

            </ng-container>

            <ng-container *ngIf="loadData?.cost_in_credits">

            <div class="any" >
                <div class="title">Cost: </div>
                <div class="info">
                    {{loadData.cost_in_credits}} Credits
                </div>
            </div>

            </ng-container>

            <ng-container *ngIf="loadData?.skin_colors">

            <div class="any"  >
                <div class="title">Skin Color: </div>
                <div class="info">
                    {{loadData.skin_colors}}
                </div>
            </div>

            </ng-container>

            <ng-container *ngIf="loadData?.language">

            <div class="any"  >
                <div class="title">Language: </div>
                <div class="info">
                    {{loadData.language}}
                </div>
            </div>

            </ng-container>

            <ng-container *ngIf="loadData?.director">

            <div class="any"  >
                <div class="title">Director: </div>
                <div class="info">
                    {{loadData.director}}
                </div>
            </div>

            </ng-container>

            <ng-container *ngIf="loadData?.producer">

            <div class="any"  >
                <div class="title">Producer: </div>
                <div class="info">
                    {{loadData.producer}}
                </div>
            </div>

            </ng-container>

            <ng-container *ngIf="loadData?.release_date">

            <div class="any"  >
                <div class="title">Released on: </div>
                <div class="info">
                    {{loadData.release_date}}
                </div>
            </div>

            </ng-container>

            <ng-container *ngIf="loadData?.population">

            <div class="any"  >
                <div class="title">Population: </div>
                <div class="info">
                    {{loadData.population}}
                </div>
            </div>

            </ng-container>

            <ng-container *ngIf="loadData?.climate">

            <div class="any"  >
                <div class="title">Climate: </div>
                <div class="info">
                    {{loadData.climate}}
                </div>
            </div>

            </ng-container>

            <ng-container *ngIf="loadData?.terrain">

            <div class="any"  >
                <div class="title">Terrain: </div>
                <div class="info">
                    {{loadData.terrain}}
                </div>
            </div>

               </ng-container>

            </ngx-simplebar>
            
        </div>
    </div>

</div>