.container
 {
    display: flex;
    flex-direction: row;
    z-index: 0;
    justify-content: center;
    align-content: center;
    align-self: center;
    // background-color: #000;

    .flex-head
    {

        background-color: rgba($color: #75BCFF, $alpha: 0.12);
        min-height: 558px;
        width: 1050px;
        margin-bottom: 50px;
        @media all and (max-width: 1000px) , (max-width: 800px) , (max-width: 600px)  {
            width: 82%;
            // background-color: black;
            background: transparent;
        }

    .details
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 74px;
        margin-left: 94px;
        column-gap: 30px;
        columns: 2;

        .profile-photo
        {

        img {
            min-height: 380px;
            min-width: 350px;
            max-height: 380px;
            max-width: 350px;
        }

        // @media all and (max-width: 1200px) , (max-width: 1000px) , (max-width: 900px)  {
        //     .flex-head{
        //         width: 82%;
        //         background: transparent;
        //     .details{
        //         width: 82%;
        //         .profile-photo{
        //     img {
        //         // height: 60px;
        //         width: 66%;
        //     }}}}
        // }
        }

    .right {
        overflow-y: auto;
        min-height: 422px;
        max-height: 422px;
        min-width: 446px;

        .name {
            color: #ffffff;
            font-size: 50px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;

        }

        .designation {
            display: flex;
            justify-content: flex-start;
            column-gap: 30px;
            margin-top: 30px;

            .title {
                color: #A5C1D3;
                font-size: 22px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
            }

            .info {
                color: #ffffff;
                font-size: 22px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 500;
                @media all and (max-width: 1000px) , (max-width: 800px) , (max-width: 600px)  {
                    margin-top: 20px;
                }
            }
        }

        .gender,.dimensions,.species, .hair,.eye,.skin,.films,.vehicles,.starship,.planet,.people,.any {
            display: flex;
            margin-top: 30px;
            justify-content: flex-start;
            column-gap: 30px;

            .title {
                color: #A5C1D3;
                font-size: 22px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
            }

            .info {
                color: #ffffff;
                font-size: 22px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 500;
            }
        }
    }
    // @media only screen and (max-width: 400px) {
    //     .right {
    //         min-width: 95%;
    //         max-width: 95%;
    //     }
    // }

    @media all and (max-width: 1000px) , (max-width: 800px) , (max-width: 600px)  {
        .right {
                    min-width: 95%;
                    max-width: 95%;
                    .name{
                        font-size: 30px;
                        font-weight: 300;
                    }
                    .designation {
                        // display: flex;
                        // justify-content: flex-start;
                        column-gap: 30px;
                        margin-top: 30px;
            
                        .title {
                            color: #A5C1D3;
                            font-size: 18px;
                            font-family: 'Open Sans', sans-serif;
                            font-weight: 500;
                        }
            
                        .info {
                            color: #ffffff;
                            font-size: 22px;
                            font-family: 'Open Sans', sans-serif;
                            font-weight: 400;
                        }
                    }
            
                    .gender,.dimensions,.species, .hair,.eye,.skin,.films,.vehicles,.starship,.planet,.people,.any {
                        display: flex;
                        margin-top: 30px;
                        justify-content: flex-start;
                        column-gap: 30px;
            
                        .title {
                            color: #A5C1D3;
                            font-size: 16px;
                            font-family: 'Open Sans', sans-serif;
                            font-weight: 400;
                        }
            
                        .info {
                            color: #ffffff;
                            font-size: 16px;
                            font-family: 'Open Sans', sans-serif;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
    // @media all and (max-width: 1000px) , (max-width: 800px) , (max-width: 600px)  {
    //     .container{
    //         width: 82%;
    //     .flex-head{
    //         background-color: black;
    //         width: 72%;
    //         overflow-x: hidden;
    //     }}
    // }
}
::ng-deep .simplebar-scrollbar::before {
    background-color: #00A8FF !important;
}

::ng-deep .simplebar-scrollbar::before {
    opacity: 1.0;
}