.container
 {
    display: flex;
    flex-direction: row;
    z-index: 0;
    justify-content: center;
    align-content: center;
    align-self: center;

    .flex-head
    {

        background-color: rgba($color: #75BCFF, $alpha: 0.12);
        min-height: 558px;
        width: 1050px;
        margin-bottom: 50px;

    .row
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 74px;
        margin-left: 94px;
        column-gap: 30px;
        columns: 2;

        .image 
        {

        img {
            min-height: 380px;
            min-width: 350px;
            max-height: 380px;
            max-width: 350px;
        }

        @media only screen and (max-width: 400px) {
            img {
                min-height: 90%;
                min-width: 80%;
                max-height: 90%;
                max-width: 80%;
            }
        }
        }

    .right {
        overflow-y: auto;
        min-height: 422px;
        max-height: 422px;
        min-width: 446px;

        .name {
            color: #ffffff;
            font-size: 50px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;

        }

        .designation {
            display: flex;
            justify-content: flex-start;
            column-gap: 30px;
            margin-top: 30px;

            .title {
                color: #A5C1D3;
                font-size: 22px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
            }

            .data {
                color: #ffffff;
                font-size: 22px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
            }
        }

        .gender,
        .dimensions,
        .species,
        .hair,
        .eye,
        .skin,
        .films,
        .vehicles,
        .starship,
        .planet,
        .people,
        .any {
            display: flex;

            margin-top: 30px;
            justify-content: flex-start;
            column-gap: 30px;

            .title {
                color: #A5C1D3;
                font-size: 22px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
            }

            .data {
                color: #ffffff;
                font-size: 22px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
            }
        }
    }

            @media only screen and (max-width: 400px) {
                .right {
                    min-width: 95%;
                    max-width: 95%;
                }
            }
        }
    }
}
::ng-deep .simplebar-scrollbar::before {
    background-color: #00A8FF !important;
}

::ng-deep .simplebar-scrollbar::before {
    opacity: 1.0;
}