<div class="ft-head">
    <div class="footer">
    <!-- <hr class="hrline"> -->
        <div class="img">
            <img src="../assets/images/footer_logo.png" alt="Footer">
        </div>
        <div class="row text-center"> 
            <div class="link"><a href="https://www.robosoftin.com/">TERMS OF USE</a></div>
            <div class="link"><a href="https://www.robosoftin.com/">LEGAL NOTICES</a></div>
            <div class="link"><a href="https://www.robosoftin.com/">PRIVACY POLICY</a></div>
            <div class="link"><a href="https://www.robosoftin.com/">STAR WARS HELPDESK</a></div>
            <div class="link"><a href="https://www.robosoftin.com/">STAR WARS AT DISNEY STORE</a></div>
        </div>
    </div>
    <div class="footer-text">
        <label for="footer-text" class="label">TM & &#169; Lucasfilm Ltd.All Rights Reserved</label>
    </div>
</div>