@import '~simplebar/dist/simplebar.css';
body
{
        background: url(src\assets\images\background.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
}